.star:before{
  content: "\2605";
  color: red;
}

.star-half:before{
  content: "\f5c0";
  color: red;  
}

.test{
    border : 1px solid black;
    width : 20px;
    height: 20px;
}

.test::before{
  content: '\f006';
}