@media screen and (min-width: 768px) {
      
    .broker:nth-child(odd){
        background :white;      
    }

    .col1 {
        width : 15%;        
        display: inline-flex !important;
        height : auto;

    }

    .col2 {
        width : 16%;        
        height : auto;
    }

    .col3 {
        width : 12%;   
        height : auto;
    }

    .col4 {
        width : 12%;     
        height : auto;
    }

    .col5 {
        width : 12%;     
        height : auto;
    }

    .col6 {
        width : 10%;       
        height : auto;
    }

    .col7 {
        width : 23%;       
        height : auto;
    }
  
    .grid-header {
        display: flex;                  
        background: #424242;  
        color: #fff;
        font-size: 18px;               
    }
    
    .grid-header > div{        
        display: inline-flex;
        align-items: center;    
        justify-content: center;          
        border: 1px solid black;    
    }

    .names{
        display: none;
    }

    .broker_header{
        display: none;
    }

    .values{
        width : 100%;
        display: flex;     
        flex-direction: row;
        justify-content: center;    
    }

    
}