@media screen and (min-width: 768px) {

    .col1 {
        width : 15%;        
        background: red;
        display: inline-flex;
        height : auto;
    }

    .col2 {
        width : 16%;
        background:gray;
    }

    .col3 {
        width : 12%;   
        background: blue;    
    }

    .col4 {
        width : 12%;     
        background: pink;  
    }

    .col5 {
        width : 12%;     
        background: yellow;      
    }

    .col6 {
        width : 10%;       
        background: purple;
    }

    .col7 {
        width : 23%;       
        background: plum;
    }
  
    .grid-header {
        display: flex;                  
        background : #485e74;    
        color: #fff;
        font-size: 18px;               
    }
    
    .grid-header > div{        
        display: inline-flex;
        align-items: center;    
        justify-content: center;          
        border: 1px solid black;    
    }

    .names{
        display: none;
    }

    .broker_header{
        display: none;
    }

    .values{
        width : 100%;
        display: flex;     
        flex-direction: row;
        justify-content: center;    
    }

    .values > div{
        display: flex;               
        justify-content: center;        
    }

}