
[class*="col"] {
    width: 100%;
}

.grid-header {
    display: none;
}


*{ 
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    border : 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


body{
    background: #92bde7;
    color : #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header{
    text-align: center;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto;
    padding: 1em;    
}

.dataGrid{
    box-shadow: 0 0 20px 0 rgba(72, 94  ,116, 0.7);    
    text-align: center;   
}

.broker:nth-child(odd){
    background : #4a85c0;
    color:  #283849;
}


@media screen and (min-width: 768px) {

    .col1 {
        width : 15%;
        background: red;
    }

    .col2 {
        width : 16%;
        background:gray;
    }

    .col3 {
        width : 12%;   
        background: blue;    
    }

    .col4 {
        width : 12%;     
        background: pink;  
    }

    .col5 {
        width : 12%;     
        background: yellow;      
    }

    .col6 {
        width : 10%;       
        background: purple;
    }

    .col7 {
        width : 23%;       
        background: plum;
    }

    .broker > .inline-header{
        display: none;
    }

    .grid-header {
        display: flex;            
        width : 100%;
        background : #485e74;    
        color: #fff;
        font-size: 18px;               
    }
    
    .grid-header > div{
        display: inline-flex;
        align-items: center;    
        justify-content: center;          
        border: 1px solid black;    
    }

    .broker{   
        display: flex;
        width : 100%;       
    }
    
    .broker > div{
        display: inline-flex;
        align-items: center;    
        justify-content: center;          
        border: 1px solid black;                            
    }
}