*{ 
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    border : 0px;
}

body{
    background: #92bde7;
    color : #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header{
    text-align: center;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto;
    padding: 1em;
}


.grid-header {
    background : #485e74;    
    color: #fff;
    font-size: 18px;
}

.grid-header > div{
    display: inline-block;
}

.broker{   
    background: red;
}

.broker > div{
    display: inline-block; 
}

.col1 {
    width : 25%;
}

.col2 {
    width : 25%;
}

.col3 {
    width : 50%;    
    background: black;
}




.broker > .inline-header{
    display: none;
}


/*
.dataGrid{
    box-shadow: 0 0 20px 0 rgba(72, 94  ,116, 0.7);
}

.dataGrid:nth-child(odd){
    background: red;   
}*/