*{ 
    box-sizing: border-box;
}

body{
    background: #92bde7;
    color : #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.header{
    text-align: center;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto;
    padding: 1em;
}

.dataGrid{
    box-shadow: 0 0 20px 0 rgba(72, 94  ,116, 0.7);
    display: grid;
}

.dataGrid:nth-child(odd){
    background: red;   
}

.grid-header{
    background : #485e74;    
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.broker{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.broker-mobile{   
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



