[class*="col"] {
    width: 100%;
}

.grid-header {
    display: none;
}

*{ 
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    border : 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


body{
    background: #92bde7;
    color : #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto;
    padding: 1em;    
}

.dataGrid{
    box-shadow: 0 0 20px 0 rgba(72, 94  ,116, 0.7);    
    text-align: center;   
}

.broker{   
    display: flex;    
    background: green;
    width : 100%;       
    flex-direction: column;
}

.broker_header{
    width : 100%;
    height : 100%;
    display: flex;
    background: red;
}

.broker_body{
    width : 100%;
    height : 100%;
    display: flex;
}

.names{
    width : 50%;
    display: inline-flex;
    flex-direction: column;
}

.names > div{        
    border: 1px solid black;                            
}


.values{
    width : 50%;
    display: inline-flex;     
    flex-direction: column;
}

.values > div{
    border: 1px solid black;                            
}



.broker:nth-child(odd){
    background : #4a85c0;
    color:  #283849;
}


.col1 {
    width : 100%;
    height : 100%;
    background: red;
    display: none;
}

.col2 {
    width : 100%;
    height : 100%;
    background:gray;
}

.col3 {
    width : 100%;
    height : 100%;
    background: blue;    
}

.col4 {
    width : 100%;
    height : 100%;
    background: pink;  
}

.col5 {
    width : 100%;
    height : 100%;    
    background: yellow;      
}

.col6 {
    width : 100%;
    height : 100%;      
    background: purple;
}

.col7 {
    width : 100%;
    height : 100%;      
    background: plum;
}