*{ 
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    border : 0px;   
}

.hide{
    display: none;
}

.row{
    display : flex;
    flex-direction: row;    
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

[class*="col"] {
    width: 100%;
}


img {
    max-width: 100%;
    max-height: 100%;
}


body{
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto;
    padding: 5em; 
    box-shadow: 0 0 20px 0 rgba(72, 94  ,116, 0.7);    
    text-align: center;   
    background : #EBEBEB;     
}

.broker-grid-header{
    display: none !important;
}

.broker-grid{
    box-shadow: 0 0 20px 0 rgba(72, 94  ,116, 0.7);    
    text-align: center;   
    background : #EBEBEB;      
    display: flex;    
    flex-direction: column;
    align-items: center;            
}

.broker{
    margin : 2.5% 0 0 0;     
    border : 3px solid darkgray;
    border-radius: 5px;
}


.broker-field{    
    background: green;
    justify-content : left; 
    align-items: center;    
    
}

.broker-field > * {
    flex: 1; 
    background : red;  
}
