*{ 
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    border : 0px;
   
}

.hide{
    display: none;
}

[class*="col"] {
    width: 100%;
}

.grid-header {
    display: none;
}


img {
    max-width: 100%;
    max-height: 100%;
}


body{
    color : #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    text-align: center;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right:auto;
    padding: 5em;    
}

.dataGrid{
    box-shadow: 0 0 20px 0 rgba(72, 94  ,116, 0.7);    
    text-align: center;   
}

.broker{   
    display: flex;    
    /*background: green;*/
    width : 100%;       
    flex-direction: column;
}

.broker_header{
    width : 100%;
    height : 100%;
    display: flex;
    justify-content: center;
    background: #424242;
}

.broker_body{
    width : 100%;
    height : 100%;
    display: flex;
    background: #EBEBEB
}

.names{
    width : 50%;
    display: inline-flex;
    flex-direction: column;
    color: #fff;
}

.names > div{        
    display: flex;        
    justify-content: center;
    align-items: center;
    padding: 5%;
    border: 1px solid black;       
}


.values{
    width : 50%;
    display: inline-flex;     
    flex-direction: column;
}

.values > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;                            
}






.col1 {
    width : 100%;
    height : 100%;
    /*background: red;*/
    display: none !important;
}

.col2 {
    width : 100%;
    height : 16%;
    display: flex;
    flex-direction: column;    
    /*background:gray;*/
}

.col3 {
    width : 100%;
    height : 16%;
    /*background: blue; */
}

.col2 div + div{
    margin-top : -5%;
}

.col4 {
    width : 100%;
    height : 16%;
    /*background: pink;  */
}

.col5 {
    width : 100%;
    height : 16%;
    /*background: yellow; */
}

.col6 {
    width : 100%;
    height : 16%;
    /*background: purple;*/
}

.col7 {
    width : 100%;
    height : 20%;
    /*background: plum;*/
}