<div class='broker'>          
   <div class="broker-field">
        <img src='{Img}'/>
   </div>
   <div class="broker-field col">
       <div>{Rating} % </div>
       <div id='stars'></div>
       <div> Full Review </div>
   </div>
   <div class="broker-field  row">
       <div>
            Maximum </br> Leverage
       </div>
       <div>
            {Leverage}
       </div>           
    </div>
    <div class="broker-field  row">
        <div>
            Regulation  </br> Authority
        </div>    
        <div>
            {Regulatory}
        </div>     
    </div>
   <div class="broker-field row">
       <div>
            Minimum </br> Deposit
       </div>
       <div>
           {MinDeposit}
        </div>
   </div>
   <div class="broker-field row">
       <div>
            Minimum </br> Spread 
       </div>
       <div>
           {Spreads}
        </div>
   </div>      
   <div class="broker-field row">
       <a target='_blank' href='https://www.fortrade.com?B=567&A=147174&mtId=567'> Open account </a>
    </div>
    
</div>



<!--<div class='col1'></div> <div class='col2'>Broker</br>Rating</div><div class='col3'>Maximum </br> Leverage </div><div class='col4'>Regulation  </br> Authority</div><div class='col5'>Minimum </br> Deposit</div><div class='col6'>Minimum </br> Spread </div><div class='col7'></div> -->